body{
    padding: 0;
    margin: 0 50px 0 50px;
    background-color: rgb(255, 255, 255);
    font-family: "Poppins", sans-serif;
    font-weight: 400;
    font-style: normal;   
}

.hd_pt1{
    display: flex;
    justify-content: center;
    margin: 20px;
}

.logo1{
    width: 250px;
}

.hd_pt2{
    display: flex;
    justify-content: space-around;
    font-size: large;
    font-weight: bold;
    margin: 0 0 20px 0  ;
}

.a1, .a2:link {
    text-decoration: none;
    color:rgb(0, 0, 0);
}

.a1, .a2:visited {
    text-decoration: none;
    color: rgb(0, 0, 0);
}

.a1, .a2:hover {
    text-decoration: none;
    color: rgb(0, 0, 0);
}

.a1, .a2:active {
    text-decoration: none;
    color:rgb(0, 0, 0);
}

.mn_pt1{
    margin: 20px 0 50px 0;
}

.baner{
    width: 1424px;
    border-radius: 20px;
}

.mn_pt2_1{
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    justify-content: space-between;
}

.er{
    width: 400px;
    border-radius: 20px;
    height: 300px ;
    margin: 20px;
    opacity: 50
}

.mn_head{
    margin:60px 20px 50px 20px;
    font-size: 75px;
    text-align: center;

}

.item_nm{
    font-size: 50px;
}

.mbaner{
    width: 1421px;
}

.mn_subhead{
    font-size: 50px;
    margin-bottom: 20px;
}

.mn_itemhead1{
    font-size: 30px;
}

.mn_itemimg{
    margin: 40px;
}

.v_learn{
    display: flex;
    justify-content: center;
    margin: 30px;
}

.input_box{
    width: 277px;
    height: 36px;
    border-radius: 20px;
    font-weight: lighter;
}

.r{
    margin: 50px 0 50px 0;
}

.fm_item{
    font-size: 50px;
}

.mn_head_pt1{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}

.ab{
    display: flex;
}

.a{
    font-weight: bold;
}