body{
    padding: 0;
    margin: 0;
    background-color: rgb(255, 255, 255);
    font-family: "Poppins", sans-serif;
    font-weight: 400;
    font-style: normal;   
}


main{
    margin: 0 30px 0 30px;
}

a:link {
    text-decoration: none;
    color:rgb(0, 0, 0);
}

a:visited {
    text-decoration: none;
    color: rgb(0, 0, 0);
}

a:hover {
    text-decoration: none;
    color: rgb(0, 0, 0);
}

a:active {
    text-decoration: none;
    color:rgb(0, 0, 0);
}

header{
    display: flex;
    flex-direction: column;
    height: 100px;
    position: sticky;
    top: 0;
    background-color: white;
    opacity: 0.9;
}

.hd_pt1{
    background-color: rgb(0, 0, 0);
    height: 40px;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.oth1{
    font-weight:bold;
    color: white;
}

.hd_pt2{
    display: flex;
    justify-content: space-around;
    align-items: center;
    height: 120px;
    position: sticky;
    top: 10px;
    background-color: white;
    opacity: 0.9;
}

.hd_pt2_1{
    width: 160px;
}

.hd_pt2_2{
    display: flex;
    justify-content: space-around;
}

.re1{
    position: sticky;
    top: 5px;
    background-color: white;
    opacity: 0.9;
}

.transp_logo{
    width: 150px;
    padding: 10px 0 0 5px ;
}

.oth2{
    padding: 20px;
}

.hd_pt2_2_a:hover{
    color:rgb(232, 70, 21);
}

.hd_pt2_2_a{
    font-size: large;
    font-weight: 200;
}

.hd_pt2_3{
    display: flex;
    align-items: center;
    justify-content:space-between;
}

.oth3{
    padding: 15px;
    width: 30px;
}

.oh111{
    color: rgb(0, 0, 0);
    font-size: 50px;
    font-weight: 400;
    text-align: center;

}

.mn_pt1{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

.mn_pt2_2{
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.rl1{
    display: flex;
    flex-direction: column;
}

.imgrl1,.imgrl2,.imgrl3,.imgrl4{
    width: 310px;
}

.rl1_2,.rl2_2,.rl3_2,.rl4_2{
    font-size: 15px;
}

.rl1_3,.rl2_3,.rl3_3,.rl4_3{
    font-size: 16px;
}

.rl1_4,.rl2_4,.rl3_4,.rl4_4{
    font-size: 10px;
}

.rl1_5,.rl2_5,.rl3_5,.rl4_5{
    font-size: 14px;
}

.mn_head{
    margin:60px 20px 10px 20px;
    color: rgb(0, 0, 0);
    font-size: 40px;
    font-weight: 400;
    text-align: left;
}

.imgrl5{
    width: 40px;
}

.col1{
    width: 1412px;
    border-radius: 30px;
}

hr{
    width: 1410px;
}

.mn_pt1_2{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.mn_pt3{
    margin:60px 20px 10px 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.mn_pt3_2{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    width: 700px;
    height: 810px;
}

.mn_pt3_1{
    height: 810px;
}

.mn_pt3_2_1{
    display: flex;
    justify-content: space-around;
    width: 700px;
}

.mn_pt3_2_2{
    display: flex;
    justify-content: space-around;
    width: 700px;
}

.mn_pt3_img{
    width: 700px;
    height: 810px;
}

.e1{
    margin: 13px;
}

.mn_pt4_2{
    display: flex;
    justify-content: space-around;
}

.we1{
    width: 326px;
}

.we2{
    width: 346px;
}

.er2{
    position:absolute;
    top: 2300px;
    font-size: 40px;
    font-weight: 700;
    color: rgb(255, 255, 255);
}

.wr1{
    left: 62px;
}

.wr2{
    left: 419px;
}

.wr3{
    left: 781px;
}

.wr4{
    left: 1138px;
}